.vscode/
coverage/
dist/
node_modules/
example/

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Cache
.cspellcache
.eslintcache
*.tsbuildinfo

# Cypress
cypress/screenshots/
cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/

# SonarQube
sonar-report.xml
